* {
    box-sizing: border-box;/*The padding cant affect the width if we set the box sizing oto border box*/
    margin: 0px;
    padding: 0px;/**Adding a reset to the page */

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: monospace; */
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;/*Almost all of the screen*/
    max-width: 1100px;
    margin: auto;/*Even margin!*/
}

.main-nav {
    display:flex ;/*Aligning the items horiz- as default route!*/
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px 0;
    font-size: 13px;

}
.learn {
    color: #a80000;
}
.main-nav ul {
    display: flex;
}
.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
.main-nav ul li {
    padding: 0px 10px;
}
.main-nav .logo {
    width: 110px;
}
.main-nav ul li a {
    padding-bottom: 2px;
}
.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}


.menu-btn {
    cursor: pointer;
    position: absolute;
    top:20px;
    right:30px;
    z-index: 2;
    display: none;

}
.btn  {
    cursor: pointer;
    display: inline-block ;
    border: 0px;
    border-radius: 2px;
    font-weight: bold;
    padding:10px 20px;
    background: #a80000;
    
    color:white;
    font-size: 15px;
}
.btn:hover{
    opacity: 0.9;
}
.showcase {
    width: 100%;/*To take the whole width of the container*/
    height: 400px;
    background: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4IFej?ver=a4c8&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1131&y=919&s=767&d=431&aim=true'") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;/*Down to the bottom b.c we have changed the direction of the flex*/
    padding-bottom: 50px;
    margin-bottom: 20px;

}
.showcase h2 , .showcase p {
    margin-bottom: 10px;
} 

.showcase .btn {
    margin-top: 20px;
}

.home-cards {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns:repeat(4 , 1fr);
    grid-gap: 20px;

}
.home-cards img {
    width: 100%;
    margin-bottom: 20px;

}
.home-cards h3 {
    margin-bottom: 5px;
}
.home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #a80000;
    text-transform: uppercase;
    font-weight: bold;
}
.home-cards a:hover {
    opacity: 0.3;
}
.dark {
    color:white;
    
}
.dark .btn {
    background: #f4f4f4;
    color: #333;
}
.xbox {
    height: 450px;
    width: 100%;

    background: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4Jlf8?ver=af60&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1131&y=919&s=767&d=431&aim=true") no-repeat center center/ cover;
    margin-bottom: 20px;
}
.content {
    width: 40%;
    padding: 50px 0 0 30px;
}
.xbox p , .carbon p {
    margin: 10px 0 20px;
}

.carbon {
    height: 350px;
    width:100%;
    background: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4JkWi?ver=c03c&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1131&y=919&s=767&d=431&aim=true") no-repeat center center / cover;/*center is tge bg pos and cove styling*/
    margin-bottom: 20px;
}
.carbon .content {
    width: 55%;
    padding: 100px 0 0 30px;
}
.follow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 30px;
    
}
.follow * {
    margin-right: 10px;
}
/*Links*/
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;

    grid-template-columns: repeat(6 , 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;


}
.links li {
    line-height: 2.8;
}


.footer {
    background:#f2f2f2;
    color: #616161;
    font-size: 12px;
    padding:20px 0px;

}
.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.footer ul {
    display: flex;
    flex-wrap: wrap;

}
.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}
.footer div i {
    margin-right: 10px;
}
@media(max-width:700px){
    .menu-btn {
        display: inline;
    }
    .logo {
        align-items: center;
        justify-content: center;
    }
    .menu-btn:hover {
        opacity: 0.5;
    }
    .main-nav ul.right-menu {
        margin-right: 50px;

    }
    .main-nav ul.main-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;

    }
    .main-nav ul.main-menu li {
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;


    }
    .main-nav ul.main-menu li:last-child {
        border-bottom: 0;
    }
    .main-nav ul.main-menu.show {
        transform: translateX(-20px);

    }
    .home-cards {
        grid-template-columns: repeat(2 , 1fr);
    }
    .xbox .content p {
        display: none;


    }
    .xbox .content h2 {
        margin-bottom: 20px;
    }
    .carbon .content {
        width:85%;


    }
    .links .links-inner {
        grid-template-columns: repeat(2 , 1fr);
    }
    .footer .footer-inner ul {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        
    }
    
}
@media(max-width:500px){
    .home-cards {

        grid-template-columns: 1fr;
    }
    .links .links-inner {
        grid-template-columns: 1fr;
    }
    .links .links-inner ul {
        margin-bottom: 20px;
    }
    .footer-inner{
        grid-template-columns: 1fr;
    }
    .footer .footer-inner ul {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    
    
}
.abtme {
    font-family: monospace;
    color: green;
}